body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro';
    /* font-family: 'Amatic SC'; */
}

* {
    list-style-type: none;
    box-sizing: border-box;
}

.title {
    color: #2fa09c;
    font-size: 22px;
    text-align: center;
}

#header {
    text-align: center;
}
.header-background {
    display: table;
    width: 100%;
    min-height: 1000px;
    background-image: url("images/fond.jpeg");
    background-size: cover ;
}
.header-overlay {
    width: 100%;
    height: 1000px;
    padding: 100px 0;
    background:rgba(23, 33, 39, 0.5) ;
}
.header-content {
    padding-top: 9rem;
    color: white;
    font-family: 'Amatic SC';
    font-size: 42px;
}
.header-content h1 {
    font-size: 84px;
    margin: 56px auto;
}
.header-content h2 {
    font-size: 34px;
    margin: 28px auto;
}
.header-button {
    animation-name: clignote; 
    -webkit-animation-name: clignote; 
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
@keyframes clignote {
    0%{color: white;}
    50%{color: grey;}
    100%{color: white;}
}


  

#nav {
    background-color: #2fa09c;
    padding: 2rem;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-div {
    width: 100%;
}
.nav-logo {
    max-width: 300px;
    width: 50%;
}
.nav-bloc {
    display: flex;
}
.nav-item {
    padding-right: 3rem;
}
.nav-link {
    position:relative;
    transition:all 1s;
    color: white;
}
.nav-link:hover {
    color: white;
}
.nav-link::after, .nav-link::before {
    content:"";
    width: 0px;
    height: 0px;
    position:absolute;
    transition:all 0.5s;
}
.nav-link:hover::before {
    bottom:-5px;
    right: -15px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.nav-link:hover::after {
    top:-5px;
    left:-15px;
    border-top: 1px solid white;
    border-left:1px solid white;
}
.nav-link:hover::before, .nav-link:hover::after {
    width:100%;
	height:100%;
}
a {
    text-decoration: none;
    color: white;
}

#home {
    margin: 4rem;

}
.home-title {
    margin:8rem 0 3rem 0;
    text-align: center;
}
:root {
    --animation-delay: 75ms;
  }
span {
    opacity: 0;
    animation-name: typewriter;
    animation-fill-mode: forwards;
    animation-duration: 0s;
    animation-delay: calc(var(--animation-order) * var(--animation-delay));
}
@keyframes typewriter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.home-content {
    padding: 2rem;
    text-align: center;
}
.home-subtitle {
    margin-bottom: 2rem;
}
.about-picture {
    width: 14rem;
    float: left;
    margin: 0 2rem 0 0;
}
.about-text {
    text-align: justify;
}



#skills {
    margin: 6rem 4rem;
    padding: 2rem 0;
}
.skills-bloc  {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 15px 0;
    padding: 2rem;
    text-align: center;
}
.one-skills-bloc {
    margin: 2rem 0;
}
.one-skills-bloc h3 {
    text-align: start;
    padding-left: 2rem;
    margin-bottom: 2rem;
}
.reveal {
    opacity: 0;
    transform: translateY(-300px);
}
.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 2s cubic-bezier(.5, 0, 0, 1);
}
.techno {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
}
.techno-item {
    padding: 0 1rem;
    text-align: center;
}



#projects {
    margin: 6rem auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:(translateY(-50%));
}
.project-bloc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-item {
    border: 1px black solid;
    border-radius: 15px 0;
    padding: 2rem;
    width: 900px;
    text-align: center;
}
.project-item-picture {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.project-skills {
    display: flex;
    justify-content: center;
    padding: 0;
}
.project-skills-item {
    padding: 0.2rem 1rem;
    margin-right: 0.5rem;
    border-radius: 15px;
    font-weight: bold; 
}
.html {
    background-color: #f16528;
}
.css {
    background-color: #34a9dc;
}
.sass {
    background-color: #cc6698;
}
.bootstrap {
    background-color: #5b4283;
}
.js {
    background-color: #f0db4e;
}
.autre {
    background-color: grey;
}
.node {
    background-color: #8cc84c;
}
.express {
    background-color: rgb(206, 206, 206);
}
.mongo {
    background-color: #4faa41;
}
.vue {
    background-color: #42b983;
}
.sql {
    background-color: #00608a;
}
.project-source {
    text-align: start;
    color: black;
}
.project-source:hover {
    color: #2fa09c;
    font-weight: bold;
}
.slider div {
    display: none;
}
div.active {
    display: block;
}
.slider-arrow {
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
}
.slider-arrow:hover {
    color: white;
    border: 1px solid #2fa09c;
    border-radius: 100%;
    background-color: #2fa09c;
}





.contact-title {
    padding: 2rem 0 2rem 0;
    color: #2fa09c;
}
.contact-link {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    padding:  0 0 2rem 0;
}
.fa-malt {
    width: 2rem;
}
.fa-envelope, .fa-github, .fa-linkedin{
    color: #2fa09c;
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.5);
}



@media (min-width: 1440px) {
    main {
        width: 70%;
        margin: auto;
    }
    .project-item {
        min-width: 1100px;
        width: 100%;
    }
    .project-item-picture {
        min-width: 1000px;
    }
}

@media (max-width: 1090px) {
    .project-item {
        width: 100%;
        margin: 0;
        padding: 2rem;
    }
    .project-item-picture {
        width: 100%;
    }
    .slider-arrow {
        margin: 1rem;
        padding: 0.5rem;
    }
    .slider-arrow:hover {
        padding: 0;
        color: #2fa09c;
        border: none;
        background-color: white;
    }
}

@media (max-width: 1090px) {
    #nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-div {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    #nav {
        min-height: 126px; 
        display: flex;
        justify-content: flex-end;
        /* justify-content: space-between; */
        /* flex-direction: column; */
    }
    .nav-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-toggle {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        color: white;
    }
    .nav-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        padding-top: 0.5rem;
    }
    .nav-toggle.active::before {
        content: '\f00d';
        font-family: fontAwesome;
    }
    .nav-bloc {
        display: none;
    }
    .nav-bloc.active {
        display: block;
        display: flex;
        flex-direction: column;
        float: left;
        text-align: right;
    }
    .nav-item {
        padding-right: 1rem;
    }

    #home {
        margin: 3rem 1rem;
    }

    #skills {
        margin: 6rem 1rem;
    }
    .skills-bloc {
        padding: 1rem;
    }

    .project-item {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
    }
    .project-skills {
        display: flex;
        flex-wrap: wrap;
    }
    .project-skills-item {
        margin-top: 0.5rem;
    }
}

@media (max-width: 690px) {
    .techno-item {
        padding: 1rem 1rem;
    }
}

@media (max-width: 468px) {
    .header-background {
        min-height: 767px;
    }
    .header-overlay {
        height: 767px;
    }
    .nav-logo {
        max-width: 300px;
        width: 40%;
    }
    .home-title {
        font-size: 16px;
    }
    .home-subtitle {
        font-size: 14px;
    }
    .home-content {
        padding: 1rem;
    }
    .about-picture {
        float: none;
        margin: auto;
    }
    .about-text {
        font-size: 12px;
    }
}